/Usersmiguel.salas.my-bitbucket-credentials.lock
/.classpath
target/
!.mvn/wrapper/maven-wrapper.jar
*.log
*.log.gz

docker/target/
docker/*.yml
docker/*.xml
docker/*.jar

.classpath
.factorypath
.project
.settings
.springBeans

.idea
*.iws
*.iml
*.ipr

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
bin/
helm/charts/
helm/Chart.lock